@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Добаление теста";
    List<SelectListItem> classes = ViewBag.Classes;
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
<div>
    <div class="for-form">
    <form asp-controller="Tests" asp-action="AddTest" method="post" enctype="multipart/form-data">
        <h4>
            Добавление теста
        </h4>
        <ul>
           
            <li>
                <div class="file-container">

                    <label class="input-file">
                        <input type="file" name="file" placeholder=".docx файл теста" required />
                        <span class="input-file-btn">Выберите файл</span>
                        <span class="input-file-text">Максимум 10МБ</span>
                    </label>

                </div>            </li>
           <li>
               <ul>
                   <li>
                        @Html.DropDownList("classesItems", classes, "Выберите класс")
                   </li>
                   <li>
                        <input class="input-title-test" type="text" name="title" value="" placeholder="Название" />
                   </li>
               </ul>

            </li>
            <li>
                <input class="btn" type="submit" value="Отправить тест" action="AddTest" />
            </li>
            <li>
                @ViewBag.FileDone
            </li>

        </ul>
    </form>
    </div
</div>