@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
@model List<QuestionModel>
<div class="contain-content">
<form asp-action="Create">
    <div class="form-group" id="form-group">
    </div>
    <ul>
        <li>
            <button class="btn" type="button" id="addQuestion">Add a Question</button>
        </li>
        <li>
            <input type="submit" />
        </li>
    </ul>
</form>
</div>

@section Scripts {
    <script>
        var answerIndex = 0;
        var questionIndex = 0;
        const cont = document.getElementById("form-group")

        $('#addQuestion').click(function () {
            var questionField = '<div id="q['+questionIndex+']"> <label>Вопрос</label> ' +
                ' <input type="text" name="Questions" /> </div> ' +
                '<button type="button" class="addAnswerToQuestion">Add an Answer</button>';
            questionIndex++;

            $(cont).append(questionField);
        });

        $(document).on('click', '.addAnswerToQuestion', function () {
            var answerField = '<div> <input type="checkbox" id="Questions[' + questionIndex + '].Answers[' + answerIndex + '].isRight" name="Questions[' + questionIndex + '].Answers[' + answerIndex + '].isRight" checked /> <label for="Questions[' + questionIndex + '].Answers[' + answerIndex + '].isRight">это ответ</label> </div><input class="input-answer" type = "text" name = "Question[' + questionIndex + '].Answers['+answerIndex+'].Answer' + answerIndex + '" /> ';
            answerIndex++;
            $(cont).append(answerField);
        });
    </script>
}