@{
    ViewData["Title"] = "Главная";
}


<div class="container">
<p>
    <ul>
        <li>
                Войти  как ..

        </li>
        <li>
                <span>
                    <input class="btn" type="submit" value="Учитель" asp-controller="Authorization" asp-action="Index"/>

                    <input class="btn" type="submit" value="Ученик" />

                </span>

        </li>
    </ul>
        </p>
    
</div>