:root {
    --color-elemental: #ccdbfd;
    --color-backgr: #abc4ff;
    --color-font: #edf2fb;
    --color-main: #c1d3fe;
    --color-hover: #ccdbfd;
}

body {
    position: relative;
    overflow-x: hidden;
    background-color: whitesmoke;
    display: blosk;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 22px;
}

img {
    width: 100px;
    background: none;
}


.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
}

form {
    padding: 1% 1%;
    border-radius: 30px;
    text-align: center;
    margin: 5px;
    width: 100%;
}

div {
    border-radius: 30px;
    width: 100%;
    padding: 0% 0%;
}

input {
    font-size: 16px;
    background-color: var(--color-backgr);
    font-style: revert-layer;
    border: 0;
    border-radius: 20px;
    padding: 1px 10px;
    position: center;
    border-color: whitesmoke;
    font-weight: 400;
}

    input:hover {
        background: #abb3ff;
        border: 0;
    }

    input[type=text] {
        font-size: 20px;
        color: black;
    }

        input[type=text]::placeholder {
            color: black;
        }

    input[type=password] {
        font-size: 20px;
        color: black;
    }

        input[type=password]::placeholder {
            color: black;
        }

.input-title-test {
    width: 250px;
}

.input-file {
    margin: 0px;
    position: relative;
    display: inline-block;
    background-color: var(--color-hover);
    width: 250px;
    border-radius: 15px;
}

.input-file-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: var(--color-font);
    text-align: center;
    border-radius: 4px;
    background-color: #0f4591;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 15px;
    transition: background-color 0.2s;
}

.input-file-text {
    font-size: 16px;
    padding: 0 20px;
    line-height: 40px;
    display: inline-block;
}

.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

    /* Focus */
    .input-file input[type=file]:focus + .input-file-btn {
        box-shadow: var(--color-main);
    }

/* Hover/active */
.input-file:hover .input-file-btn {
    background-color: var(--color-main);
    color: black;
}

.input-file:active .input-file-btn {
    background-color: var(--color-main);
}

/* Disabled */
.input-file input[type=file]:disabled + .input-file-btn {
    background-color: #eee;
}

input-question-test {
    font-size: 20px;
    background-color: var(--color-backgr);
    font-style: revert-layer;
    border: 0;
    border-radius: 10px;
    padding: 1px 10px;
    position: center;
    border-color: whitesmoke;
    font-weight: 400;
}


.checkbox-other {
    font-size: 16px;
    display: block;
    margin: 10px 0 0 0;
    line-height: 22px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

    .checkbox-other input[type=checkbox] {
        position: absolute;
        z-index: -1;
        opacity: 0;
        display: block;
        width: 0;
        height: 0;
    }

    .checkbox-other span {
        display: inline-block;
        position: relative;
        padding: 0 0 0 35px;
        line-height: 22px;
    }

        .checkbox-other span:before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            top: 0;
            border: 1px solid #2B7335;
            box-shadow: inset 0 0 3px #8a8a8a;
        }

    /* Checked */
    .checkbox-other input[type=checkbox] + span:after {
        content: "";
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .checkbox-other input[type=checkbox]:checked + span:after {
        content: "✓";
        color: green;
        font-size: 30px;
        font-weight: 900;
        position: absolute;
        left: 2px;
        top: -2px;
        opacity: 1;
    }

/* Focus */
.focused span:before {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover */
.checkbox-other span:hover:after {
    filter: brightness(110%);
}

/* Active */
.checkbox-other span:active:before,
.checkbox-other span:active:after {
    filter: brightness(80%);
}

/* Disabled */
.checkbox-other input[type=checkbox]:disabled + span {
    color: #666;
    cursor: default;
}

    .checkbox-other input[type=checkbox]:disabled + span:before,
    .checkbox-other input[type=checkbox]:disabled + span:after {
        filter: grayscale(100%);
        opacity: 0.6;
    }


ul {
    list-style: none;
    display: list-item;
    text-align: center;
    position: center;
    width: 100%;
}

.ul-answers {
    margin-top: 10px;
}

    .ul-answers li input {
        font-size: 18px;
        background-color: var(--color-elemental);
        font-style: revert-layer;
        border: 0;
        border-radius: 10px;
        padding: 1px 10px;
        position: center;
        border-color: whitesmoke;
        font-weight: 400;
    }

.horizontal li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 3px; /* Отступ слева */
    border: 2px solid #000; /* Рамка вокруг текста */
    border-radius: 10px;
    padding: 5px; /* Поля вокруг текста */
    background-color: #0f4591;
    color: whitesmoke;
}

    .horizontal li a {
        font-size: 20px;
        color: whitesmoke;
    }

.names {
    margin: 0;
}

.res {
    color: black;
}

li {
    padding: 1% 1%;
    width: 90%;
    height: 100%;
    margin: 1px;
    margin-bottom: 0.4rem;
    position: center;
    justify-content: center;
}


h2 {
    text-align: center;
    margin-block: 0;
    color: darkblue;
}

.btn {
    margin-top: 15px;
    margin-bottom: 5px;
    appearance: button;
    border: 0;
    border-radius: 20px;
    background-color: #0f4591;
    color: whitesmoke;
    font-weight: 400;
    width: 200px;
    padding: 2px 2px;
}

    .btn:hover {
        background-color: #d65f00;
        color: whitesmoke;
        font-weight: 400;
    }

    .btn:focus {
        outline: none;
        box-shadow: 0 0 0 0#cbd6ee;
    }

.btn-add-answer {
    margin-top: 15px;
    margin-bottom: 5px;
    appearance: button;
    border: 0;
    border-radius: 20px;
    background-color: #0f4591;
    color: whitesmoke;
    font-weight: 400;
    font-size: 16px;
    width: 200px;
    padding: 2px 2px;
}

    .btn-add-answer:hover {
        background-color: #d65f00;
        color: whitesmoke;
        font-weight: 400;
    }

    .btn-add-answer:focus {
        outline: none;
        box-shadow: 0 0 0 0#cbd6ee;
    }

.btn-add-question {
    margin-top: 15px;
    margin-bottom: 5px;
    appearance: button;
    border: 0;
    border-radius: 20px;
    background-color: #0f4591;
    color: whitesmoke;
    font-weight: 400;
    font-size: 16px;
    width: 200px;
    padding: 2px 2px;
}

    .btn-add-question:hover {
        background-color: #d65f00;
        color: whitesmoke;
        font-weight: 400;
    }

    .btn-add-question:focus {
        outline: none;
        box-shadow: 0 0 0 0#cbd6ee;
    }

select {
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    color: whitesmoke;
    display: inline-block;
    width: 250px;
    box-sizing: border-box;
    background-color: #0f4591;
    color: whitesmoke;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    text-align: center;
    position: center;
}

    select::before {
        text-align: center;
        line-height: 45px;
        color: whitesmoke;
        background-color: rgba(255, 255, 255, 0.1);
        pointer-events: none;
    }

    select:hover {
        background-color: #0f4591;
    }

    select option {
        background-color: whitesmoke;
        color: #0f4591;
    }

.main {
    width: 100%;
    max-width: 550px;
    display: inline-flex;
    margin-bottom: 60px;
    height: auto;
    padding: 0% 0%;
    border-radius: 30px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bag {
    color: black;
}

.logo {
    width: 20%;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px; /* Height of the footer */
    background: #0f4591;
    clear: both;
}

.footer-link {
    font-size: 16px;
    color: whitesmoke;
}

.file-container {
    background-color: var(--color-main);
    display: inline-block;
    padding: 5px 5px;
    margin-bottom: 3px;
    width: auto;
    height: auto;
    border-radius: 20px;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper.toggled {
        padding-left: 220px;
    }

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1c1e2a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #sidebar-wrapper::-webkit-scrollbar {
        display: none;
    }

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 60px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.navbar {
    padding: 0;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav li {
        position: relative;
        line-height: 20px;
        display: inline-block;
        width: 100%;
    }

        .sidebar-nav li:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            width: 3px;
            background-color: #abb3ff;
            -webkit-transition: width .2s ease-in;
            -moz-transition: width .2s ease-in;
            -ms-transition: width .2s ease-in;
            transition: width .2s ease-in;
        }

        .sidebar-nav li:hover {
            background: skyblue !important;
            border-radius: 10px;
            margin-left: 10px;
            margin-right: 10px;
        }

            .sidebar-nav li:hover:before,
            .sidebar-nav li.open:hover:before {
                width: 100%;
                -webkit-transition: width .2s ease-in;
                -moz-transition: width .2s ease-in;
                -ms-transition: width .2s ease-in;
                transition: width .2s ease-in;
            }

        .sidebar-nav li a {
            display: block;
            color: #ddd;
            text-decoration: none;
            padding: 10px 15px 10px 30px;
        }

            .sidebar-nav li a:hover,
            .sidebar-nav li a:active,
            .sidebar-nav li a:focus,
            .sidebar-nav li.open a:hover,
            .sidebar-nav li.open a:active,
            .sidebar-nav li.open a:focus {
                color: #fff;
                text-decoration: none;
                background-color: transparent;
            }

.sidebar-header {
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
    height: 100%;
}

.sidebar-brand {
    border-radius: 5px;
    height: 65px;
    position: relative;
    background: #212531;
    background: linear-gradient(to right bottom, #a9b5fe 10%, #383c54 90%);
    padding-top: 1em;
    margin-bottom: 0px;
}

    .sidebar-brand a {
        color: #ddd;
        padding: 0;
        margin: 0;
    }

        .sidebar-brand a:hover {
            color: #fff;
            text-decoration: none;
        }

.dropdown-header {
    text-align: center;
    font-size: 1em;
    color: #ddd;
    background: #212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

.dropdown-menu.show {
    top: 0;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
    position: fixed;
    top: 20px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}

    .hamburger:hover,
    .hamburger:focus,
    .hamburger:active {
        outline: none;
    }

    .hamburger.is-closed:before {
        content: '';
        display: block;
        width: 100px;
        font-size: 14px;
        color: #fff;
        line-height: 32px;
        text-align: center;
        opacity: 0;
        -webkit-transform: translate3d(0,0,0);
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-closed:hover:before {
        opacity: 1;
        display: block;
        -webkit-transform: translate3d(-100px,0,0);
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-closed .hamb-top,
    .hamburger.is-closed .hamb-middle,
    .hamburger.is-closed .hamb-bottom,
    .hamburger.is-open .hamb-top,
    .hamburger.is-open .hamb-middle,
    .hamburger.is-open .hamb-bottom {
        position: absolute;
        left: 0;
        height: 4px;
        width: 100%;
    }

    .hamburger.is-closed .hamb-top,
    .hamburger.is-closed .hamb-middle,
    .hamburger.is-closed .hamb-bottom {
        background-color: #1a1a1a;
    }

    .hamburger.is-closed .hamb-top {
        top: 5px;
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-closed .hamb-middle {
        top: 50%;
        margin-top: -2px;
    }

    .hamburger.is-closed .hamb-bottom {
        bottom: 5px;
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-closed:hover .hamb-top {
        top: 0;
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-closed:hover .hamb-bottom {
        bottom: 0;
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-open .hamb-top,
    .hamburger.is-open .hamb-middle,
    .hamburger.is-open .hamb-bottom {
        background-color: #1a1a1a;
    }

    .hamburger.is-open .hamb-top,
    .hamburger.is-open .hamb-bottom {
        top: 50%;
        margin-top: -2px;
    }

    .hamburger.is-open .hamb-top {
        -webkit-transform: rotate(45deg);
        -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    }

    .hamburger.is-open .hamb-middle {
        display: none;
    }

    .hamburger.is-open .hamb-bottom {
        -webkit-transform: rotate(-45deg);
        -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    }

    .hamburger.is-open:before {
        content: '';
        display: block;
        width: 100px;
        font-size: 14px;
        color: #fff;
        line-height: 32px;
        text-align: center;
        opacity: 0;
        -webkit-transform: translate3d(0,0,0);
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-open:hover:before {
        opacity: 1;
        display: block;
        -webkit-transform: translate3d(-100px,0,0);
        -webkit-transition: all .35s ease-in-out;
    }

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

