
@{
    ViewData["Title"] = "Авторизация";
    Layout = "~/Views/Authorization/Layout/_LayoutAuthorization.cshtml";
}

<div >
    <form method="post" enctype="multipart/form-data" asp-controller="Authorization" asp-action="Index">

        <h3>
            Вход в учётную запись
        </h3>
        <ul>
            <li>
                <input type="text" name="username" value="" placeholder="Введите логин" required />
            </li>
            <li>
                <input type="password" name="password" value="" placeholder="Введите пароль" required />
            </li>
            <li>
                <input class="btn" type="submit" name="commit" value="Войти" />
            </li>
            <hr />
            @ViewBag.username
        </ul>
    </form>
</div>