@using SchoolTestsApp.Models.DB
@using SchoolTestsApp.Models.Serialize
@using SchoolTestsApp.ViewModels

@{
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
    ViewData["Title"] = "Создание теста";
}

@model TestViewModel
<form asp-action="AddSentence" method="post">
    <style>
        #editorRows input, #submit {
            margin-bottom: 0;
           
            border-radius: 6px;
            background: white;
            color: black;
            font-size:24px;
        }

        #editorRows #TestModel_Title #RightAnswer {
            width: 400px;
            text-align: center;
        }

        #editorRows #TestModel_Title {
            margin-left:400px;
            margin-right: 400px;
        }
        input[name='RightAnswer']{
            border: 1px solid black;
        }
            input[name='Question'] {
                border-radius: 2px;
                width: 300px;
                height: 100px;
            }

        #editorRows {
            text-align: center;
            font-family: "Gill Sans", sans-serif;
            border-radius: 2px;
            overflow-x: hidden;
            width: 100vw;
            height: 80vh;
            margin-bottom: 10px;
            color: black;
        }

        #editorRows a {
            padding:4px 6px;
                background: white;
            color: black;
            border-radius: 4px;
            font-size: 20px;
            text-decoration: none;
      
        }

        #addItem{
            font-size: 24px;
            margin-right:20px;
        }

        #editorRow {
            padding:30px 0px;
            color:black;
            background: white;
            margin-top: 50px;
            width:100%;
            vertical-align: top;
            margin-bottom: 10px; 
        }

        #editorRows label {
            margin:0;
        }
        select{
            margin-bottom:5%;
        }
        input[type=text]{
            border: 1px solid black;
        }

    </style>
    <div class="card" id="editorRows">
        <label style="margin-top:20px;font-size:28px;" asp-for="@Model.TestModel">Тема теста:</label>
        @Html.EditorFor(m=>m.TestModel.Title)

        @foreach (var item in Model.TestModel.Questions)
        {
            <partial style="margin-bottom=10px;" name="_QuestionEditor" model="item" />
        }
        <div class="card-footer">
            Для класса
            @Html.DropDownListFor(m => m.classID, new SelectList(Model.ClassList, "id", "ClassCode"))
        </div>

    </div>

    <a id="addItem" asp-action="BlankSentence" class="btn btn-primary" asp-controller="Test">Добавить вопрос</a>
    <input type="submit" class="btn btn-primary" id="submit" value="Сохранить" />
</form>


@section scripts {
    <script>
        $("#submit").click(function (e) {
            e.preventDefault();
            var formData = new FormData();
     

            $("input[name='Question']").each(function (i) {
                var question = $(this).val();
                formData.append("TestModel.Questions[" + i + "].Question", question);
            });

            $("input[name='Answer1']").each(function (i) {
                var answer = $(this).val();
                formData.append("TestModel.Questions[" + i + "].Answer1", answer);
            });

            $("input[name='Answer2']").each(function (i) {
                var answer = $(this).val();
                formData.append("TestModel.Questions[" + i + "].Answer2", answer);
            });

            $("input[name='Answer3']").each(function (i) {
                var answer = $(this).val();
                formData.append("TestModel.Questions[" + i + "].Answer3", answer);
            });


            $("input[name='Answer4']").each(function (i) {
                var answer = $(this).val();
                formData.append("TestModel.Questions[" + i + "].Answer4", answer);
            });

            $("input[name='RightAnswer']").each(function (i) {
                var RightAnswer = $(this).val();
                formData.append("TestModel.Questions[" + i + "].RightAnswer", RightAnswer);
            });
             
            $("input[name='TestModel.Title']").val(function (title) {
                var title = $(this).val();
                formData.append("TestModel.Title", title);
            });

            $.ajax({
                method: 'post',
                url: "Test/AddSentence",
                data: formData,
                processData: false,
                contentType: false,
                success: function () {

                }
            });
        });

        $("#addItem").click(function () {
            $.ajax({
                url: this.href,
                cache: false,
                success: function (html) { $("#editorRows").append(html); }
            });
            return false;
        });

        $("a.deleteRow").on("click", function () {
            $(this).parents("div.editorRow:last").remove();
            return false;
        });
    </script>
}