@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
    ViewData["Title"] = "Оповещение";

}


<div class="justify-content-center">
    <h3>Тест сохранен</h3>
    <span>можете вернутся на главную страницу</span>
</div>